.edit-planning-item {
    position: absolute;
    bottom: 5px;
    right: 20px;
    padding: 0 !important;
    visibility: hidden;

    .planning-overview__item:hover & {
        visibility: visible;
    }
}
