.markdown-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.4rem;
    }

    ul {
        padding: 0 0 0 15px;
        margin: 0 0 10px;
    }

    p {
        margin-bottom: 0.3rem;
    }
}
