@import '../settings//animations';

.planning-overview {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.planning-overview__title {
    position: fixed;
    top: 20px;
}

.planning-overview__team-rows {
    margin-top: 100px;
}

.planning-overview__team-row {
    margin: 0 0 30px;
    padding: 0 10px 20px 0;
    width: 100%;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.planning-overview__team-row__equalizer {
    display: inline; // react-equalizer uses a div element, which is by default a block element
}

.planning-overview__team-row__title {
    width: 400px; // if removed somehow the title is not sticky?!
    white-space: normal;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0 0 20px 0;
    padding-left: 10px;

    h2 {
        text-transform: uppercase;
    }
}

.planning-overview__week {
    display: inline-block;
    border-radius: 5px;
    padding: 10px 10px 0;
    margin-bottom: 10px;
    width: 150px;
    height: 100%;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.planning-overview__week--current {
    border: 1px solid #bbb;
    margin-right: 10px;
    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }
}

.planning-overview__week__period {
    font-size: 0.8em;
    margin: 0 0 15px;
    color: #999;
}

.planning-overview__week__title {
    height: 40px;
    padding: 0;
    margin: 0;
}

.planning-overview__items {
    margin-bottom: 20px;
}

.planning-overview__item {
    padding: 10px;
    border-radius: 3px;
    height: 100px;
    margin: 0 0 5px;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    animation: fadein 0.5s;
}

.planning-overview__item__title {
    font-size: 1rem;
    margin: 0;
    white-space: normal;
}

.planning-overview__item__notes {
    * {
        font-size: 0.8rem;
        color: #444;
    }
}

.planning-overview__item-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    visibility: hidden;
    text-align: right;

    .planning-overview__item:hover & {
        visibility: visible;
    }
}

.planning-overview__item-action {
    margin: 0;
    padding: 0 0 0 5px !important;
    margin: 0 !important;
    color: black !important;
}
