.planning-overview {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.planning-overview__title {
    position: fixed;
    top: 20px;
}

.planning-overview__team-rows {
    margin-top: 100px;
}

.planning-overview__team-row {
    margin: 0 0 30px;
    padding: 0 10px 20px 0;
    width: 100%;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.planning-overview__team-row__equalizer {
    display: inline; // react-equalizer uses a div element, which is by default a block element
}

.planning-overview__team-row__title {
    margin: 75px 0 0 0;
    display: inline-block;
    width: 250px;
    white-space: normal;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    h2 {
        display: inline-block;
        padding: 0 10px 5px 10px;
        margin-left: -10px;
        background: #fff;
        border-radius: 4px;
    }
}

.planning-overview__week {
    display: inline-block;
    border-radius: 5px;
    padding: 10px 10px 0;
    margin-bottom: 10px;
    width: 150px;
    height: 100%;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.planning-overview__week--current {
    border: 2px solid #ddd;
}

.planning-overview__week__period {
    font-size: 0.8em;
    margin: 0 0 15px;
    color: #999;
}

.planning-overview__week__title {
    height: 40px;
    padding: 0;
    margin: 0;
}

.planning-overview__team-week-projects {
    margin-bottom: 20px;
}

.planning-overview__team-week-project {
    padding: 10px;
    border-radius: 3px;
    height: 100px;
    margin: 0 0 5px;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    animation: fadein 0.5s;
}

.planning-overview__team-week-project__title {
    font-size: 1rem;
    margin: 0;
    white-space: normal;
}

.planning-overview__team-week-project__notes {
    * {
        font-size: 0.8rem;
        color: #444;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
