.planning-overview-filtering {
    position: fixed;
    background: #eee;
    padding: 10px 10px 0 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    z-index: 1001;

    .planning-overview-filtering__team-field {
        width: 300px;
    }

    label {
        margin-right: 10px;
    }

    .form-group {
        margin-bottom: 10px !important;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}
