.remove-team-week-project {
    button {
        position: absolute;
        bottom: 5px;
        right: 5px;
        padding: 0;
        margin: -5px 0 0 3px;
        visibility: hidden;

        .planning-overview__item:hover & {
            visibility: visible;
        }
    }
}
