.wrapper {
    position: fixed;
    border: 1px solid #ddd;
    background: white;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.toggleButton {
    float: right;
    padding: 0;
    text-decoration: none !important;
}
