// Libs
@import '~normalize.css';

// Modules
@import './modules/planningOverview';
@import './modules/removeTeamWeekProject';
@import './modules/addPlanningItem';
@import './modules/teamWeekNotesOverview';
@import './modules/removeTeamWeekNote';
@import './modules/weekActions';
@import './modules/editPlanningItem';
@import './modules/createProject';
@import './modules/projectOverview';
@import './modules/planningOverviewFiltering';
@import './modules/projectBudgetOverview';

body {
    padding: 0;
    margin: 0;
}

.page-content {
    padding-top: 30px;
}

.markdown-content {
    ul {
        padding: 0 0 0 15px;
        margin: 0 0 10px;
    }

    p {
        margin-bottom: 0.3rem;
    }
}

.modal__close {
    float: right;
}
